<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app id="inspire">
      <v-navigation-drawer v-model="drawer" app>
        <v-sheet color="grey lighten-4" class="pa-4">
          <v-card elevation="2">
            <v-card-title>撮影した動画の年度で絞り込むことができます。</v-card-title>
          </v-card>
          <v-list>
            <v-list-item v-for="[icon, nendo] in getSidebarLinks" @click="getfileDataListWithNendo(nendo)" link>
              <v-list-item-icon>
                <v-icon>{{ icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ nendo }}年度</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-sheet>
      </v-navigation-drawer>

      <v-app-bar app>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>My Memory Videos</v-toolbar-title>
      </v-app-bar>

      <v-main class="grey lighten-2">
        <v-alert type="success" th:if="${successMessage != null}">
          <span th:text="${successMessage}">successMessage</span>
        </v-alert>
        <v-alert type="warning" th:if="${alertMessage != null}">
          <span th:text="${alertMessage}">alertMessage</span>
        </v-alert>
        <v-container>
          <v-card elevation="2">
            <v-card-title>ここから動画をアップロードします</v-card-title>
            <form method="post" enctype="multipart/form-data">
              <input type="file" name="upload_file" id="upload_file" accept=".mp4,.webm"
                style="margin-left: 5px; margin-bottom: 5px;" v-on:change="getFileDate"></input>
              <input type="hidden" name="file_date" id="file_date"></input>
              <v-btn type="submit" formaction="./upload" style="margin-left: 5px; margin-bottom: 5px;">アップロード</v-btn>
            </form>
          </v-card>
        </v-container>
        <v-container>
          <v-card elevation="2">
            <v-card-title>ファイル削除するためには、ファイル名を入力して、「ファイルの削除」を押してください。</v-card-title>
            <form method="post" enctype="multipart/form-data">
              <input type="text" name="delete_file" style="margin-left: 5px; margin-bottom: 5px;"></input>
              <v-btn type="submit" formaction="./delete" style="margin-left: 5px; margin-bottom: 5px;">ファイルの削除</v-btn>
            </form>
          </v-card>
        </v-container>
        <template v-for="fileData in getItems">
          <v-container>
            <v-card elevation="2">
              <v-card-title>{{fileData.fileName}}</v-card-title>
              <video :src="'./fetch/'+fileData.fileName" controls style="width: 100%;"></video>
            </v-card>
          </v-container>
        </template>
        <paginate :page-count="getPageCount" :page-range="3" :margin-pages="2" :click-handler="clickCallback"
          :prev-text="'＜'" :next-text="'＞'" :container-class="'pagination'" :page-class="'page-item'">
        </paginate>
      </v-main>
    </v-app>


  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vuejs-paginate@2.1.0"></script>
  <script>
    Vue.component('paginate', VuejsPaginate);
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        drawer: null,
        fileDataList: [],
        parPage: 5,
        currentPage: 1
      },
      methods: {
        getfileDataList: function () {
          const path = './fileData';
          axios.get(path)
            .then(response => {
              this.fileDataList = response.data
            })
            .catch(error => {
              console.log(error)
            });
        },
        getfileDataListWithNendo: function (nendo) {
          const path = './fileData/' + nendo;
          axios.get(path)
            .then(response => {
              this.fileDataList = response.data
            })
            .catch(error => {
              console.log(error)
            });
        },
        clickCallback: function (pageNum) {
          this.currentPage = Number(pageNum);
        },
        getFileDate: function (e) {
          const files = e.target.files;

          for (let file of files) {
            const date = new Date(file.lastModified);
            let element = document.getElementById('file_date');
            element.value = date;
          }
        }
      },
      computed: {
        getItems: function () {
          let current = this.currentPage * this.parPage;
          let start = current - this.parPage;
          return this.fileDataList.slice(start, current);
        },
        getPageCount: function () {
          return Math.ceil(this.fileDataList.length / this.parPage);
        },
        getSidebarLinks: function () {
          let result = [];
          var dt = new Date();
          let y = dt.getFullYear();
          if (dt.getMonth() + 1 < 4) {
            y = y - 1;
          }
          for (let nendo = 2017; nendo < y + 1; nendo++) {
            result.push(["mdi-calendar", nendo])

          }
          return result;
        }
      },
      created() {
        this.getfileDataList();
      }
    });
  </script>
</body>

</html>